/*.span{
    color: red;
}
#logo{
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    width: 120px;
    padding: 2rem 0rem;

}
#carousel{
    max-width: 400px;
    width: 100%;
    margin: auto;
}

#imagetxt{
    font-size: 0.8rem;
    padding: 0rem 2rem;
}
#first-div{
    margin: 1.2rem 0rem;
    text-align: center;
}
#h1{
    color: #164EC0;
    font-weight: 500;
    padding-bottom: 1.2rem;
}*/


#p1{
    font-size: 0.8rem;
}

/*form{
    max-width: 500px;
    margin: auto;
    padding: 1.3em 0rem;
}

form input{
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
form label{
    font-size: 0.8rem;
    color: #696671;
}
form small{
    color: #F23B3B;
}

#select-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    margin: 3rem 0rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}
#link-span{
    text-align: center;
    margin: auto;
    font-size: 0.8rem;
}/*